@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ArticlesMain>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<!DOCTYPE HTML>

		
		<!-- Jumbotron, w title -->
		<div class="jumbotron text-center jumbotron-fluid">
			<div class="container">
				<h1 class="display-1">@Model.Value("articleTitle")</h1>
				<p>här landal alla blogg poster!</p>
			</div>
		</div>

		<!-- Main container -->
		
@{
	var firstselection = Umbraco.Content(Guid.Parse("8d7b4400-0402-4222-9a48-d253d71ec8be"))
    .ChildrenOfType("articleItem")
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate);
    
  
}



		<div class="container">

			<!-- Featured blogpost -->
			<ul>
	
</ul>
			<div class="row section">
			    
				<div class="col-md-12">
				@foreach (var item in firstselection)
	{
		<li>
			<a href="@item.Url()">@item.Name() </a>
			
		</li>
	}
					</div></a>
				</div>
			</div>

			<!-- Latest blog posts -->
			<div class="row section">
				<div class="col-md-12">
				
@{
	var selection = Umbraco.Content(Guid.Parse("8d7b4400-0402-4222-9a48-d253d71ec8be"))
    .ChildrenOfType("articleItem")
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate);
}
<ul>
	@foreach (var item in selection)
	{
	    <div class="row">
    	    <article class="special">
                <h5> @item.CreateDate </h5>
                <div class="articletitle">
                    <a href="@item.Url()"><h3>@item.Name()</h3></a>
                </div>
                <div class="articlepreview">
                    <h5>@Html.Truncate(item.Value("articleContent").ToString(), 20, true)</h5>
                    <a href="@item.Url()" class="btn btn-primary" >Read More..</a>
                </div>
            </article>
        </div>
	}
</ul>


				</div>
			</div>

			<!-- Blog Post Query goes here. -->
			<div class="row">
			    
				<div class="col-md-4">
					<a href="Blogpost.html" class="featured-link"><div class="thumbnail-blog">
						<div class="thumbnail-img" style="background-image:url('/images/Press.jpg')"></div>
						<h5>Umbraco <3 YouTube</h5>
					</div></a>
				</div>
				<div class="col-md-4">
					<a href="#" class="featured-link"><div class="thumbnail-blog">
						<div class="thumbnail-img" style="background-image:url('/images/sofie-hammock.jpg')"></div>
						<h5>A day in a Documentation Curators life</h5>
					</div></a>
				</div>
				<div class="col-md-4">
					<a href="#" class="featured-link"><div class="thumbnail-blog">
						<div class="thumbnail-img" style="background-image:url('/images/heart-DNS.png')"></div>
						<h5>New product: Umbraco Heartcore</h5>
					</div></a>
				</div>

				<div class="col-md-4">
					<a href="#" class="featured-link"><div class="thumbnail-blog">
						<div class="thumbnail-img" style="background-image:url('/images/uPackage.png')"></div>
						<h5>Packages.. Packages every where!</h5>
					</div></a>
				</div>
				<div class="col-md-4">
					<a href="#" class="featured-link"><div class="thumbnail-blog">
						<div class="thumbnail-img" style="background-image:url('/images/CG-virgins.JPG')"></div>
						<h5>Just how flexible is Umbraco?</h5>
					</div></a>
				</div>
				<div class="col-md-4">
					<a href="#" class="featured-link"><div class="thumbnail-blog">
						<div class="thumbnail-img" style="background-image:url('/images/confetti.jpg')"></div>
						<h5>Festival season of 2020</h5>
					</div></a>
				</div>
			</div>

		</div>
		
	