@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}
<!DOCTYPE HTML>


		<!-- Jumbotron, w title -->
		<div class="jumbotron text-center jumbotron-fluid">
			<div class="container">
				<h1 class="display-1">@Model.Value("pageTitle")</h1>
				<p>En studie i <span class="font-weight-bold">Umbraco</span> det vänliga publiseringsverktyget</p>
			</div>
		</div>

		<!-- This is where we're going to render our content   "col-md-4" -->
		
		<div class="col-md-4">

            @Model.Value("bodyText")
		</div>	

		<!-- Call to Action -->
		<div class="container-fluid orange-bg">
			<div class="container">

				<div class="row section">
					<div class="col-md-12 text-center">
						<h1>@Model.Value("header")</h1>
						<p>@Model.Value("subtitle") <br/><br/></p>
						<a href="" class="btn btn-inverted-orange" role="button">@Model.Value("buttonText") >></a>
					</div>
				</div>
	
			</div>
		</div>

	